*{
    color: aqua;
}
#outer{
    height: 600px;
    width: 250px;
    border: 2px solid black;
    margin: auto;
   
   
    
}

.inner{
    height: 90px;
    width: 80px;
    border: 2px solid black;
    margin: 90px;
    border-radius: 50%;
}
#red{
    background-color: red;
  

}
#yellow{
    background-color: yellow;
}
#green{
    background-color: green;
}