body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    background-color: pink;
    color: #fff;
    overflow: hidden;
}

.main {
    display: flex;
}

/* .sidebar{
    background-color: red;
}

.main-contant{
    background-color: blueviolet;

}

.play-music{
    background-color: goldenrod;
} */