body {
    text-align: center;
}

div {
    height: 100px;
    width: 300px;
    border: 1px solid black;
    margin: auto;
    margin-top: 15px;
}

.box{
    height: 100px;
    width: 300px;
    background-color: pink;
    border: 1px solid black;
}